.storeConfig-Item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .trash-button {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
  }

  &:hover > .trash-button {
    opacity: 1;
  }
}
