.button-Tile{
    width: auto;
    height: auto;
    .button-tile-text{
        max-width: 100px;
        margin: 0 auto;
        text-align: center;
        word-wrap: break-word;
        white-space: normal;
    }
}