.ui-Toast-v-Notification-list {
  --viewport-padding: 25px;
  position: fixed;
  top: var(--viewport-padding);
  right: var(--viewport-padding);
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
  transition: 300ms;

  & > div > ol {
    display: grid;
    row-gap: var(--space-2);
  }
}
