.ui-Storybook-w-Nav {
  width: 250px;
  background-color: var(--gray-2);
  height: 100%;
  padding: 0 0 0 8px;
  --active: var(--accent-4);

  .nav-link {
    border: 0;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: var(--active);
    }
  }

  & .-active--true {
    background-color: var(--active);
  }
}
