.dnp-layout-Layout {
  --dnp-header-height: 48px;
  --dnp-nav-width: 48px;

  height: 100%;
  width: 100vw;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  nav {
    grid-area: nav;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  /* 
  * -layoutConfiguration--default
  * конфигурация по умолчанию
  */

  &.-elements--main {
    grid-template-areas: 'main';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  &.-elements--main-nav {
    grid-template-areas: 'nav main';
    grid-template-rows: 1fr;
    grid-template-columns: var(--dnp-nav-width) 1fr;

    main {
      padding-top: 18px;
    }
  }

  &.-elements--header-main {
    grid-template-areas:
      'header header header'
      'main main main';
    grid-template-rows: var(--dnp-header-height) 1fr;
    grid-template-columns: var(--dnp-nav-width) 1fr;

    main {
      padding-top: 9px;
    }
  }

  &.-elements--header-main-nav {
    grid-template-areas:
      'nav header'
      'nav main';
    grid-template-rows: var(--dnp-header-height) 1fr;
    grid-template-columns: var(--dnp-nav-width) 1fr;

    main {
      padding-top: 9px;
    }
  }
}
