.dnp-layout-Layout {
  --header-height: 60px;
  --nav-width: 60px;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  nav {
    grid-area: nav;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  /* 
  * -layoutConfiguration--default
  * конфигурация по умолчанию
  */

  &.-elements--main {
    grid-template-areas: 'main';
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  &.-elements--main-nav {
    grid-template-areas: 'nav main';
    grid-template-rows: 1fr;
    grid-template-columns: var(--nav-width) 1fr;
  }

  &.-elements--header-main {
    grid-template-areas:
      'header header header'
      'main main main';
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: var(--nav-width) 1fr;
  }

  &.-elements--header-main-nav {
    grid-template-areas:
      'nav header'
      'nav main';
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: var(--nav-width) 1fr;
  }
}
