.dnp-button-Button {
  &.--transparent,
  &.--round,
  &.--square {
    width: var(--base-button-height);
    min-width: var(--base-button-height);
    max-width: var(--base-button-height);
    height: var(--base-button-height);
    min-height: var(--base-button-height);
    max-height: var(--base-button-height);
    padding: 0;
  }
  &.--round {
    border-radius: var(--base-button-height);
  }
  &.--transparent {
    background-color: transparent;
    width: auto;
    height: auto;
    max-width: unset;
    max-height: unset;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    cursor: pointer;
  }

  &.--transparent:hover {
    background-color: var(--gray-2);
  }
}
