.ui-file-upload__input-zone {

}

.ui-file-upload__root {
  width: 47px;
  background-color: var(--gray-3);
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.ui-file-upload__uploaded-file {
  width: 100%;
  background-color: var(--gray-3);
  padding: 12px;
  border-radius: 16px;
}