.dnp-nav-Nav {
  border-right: 1px solid var(--gray-2);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-4);

  & > .navigatables {
    /* --space-5 это пэдинг секции */
    padding-top: var(--space-5);
  }

  & > .logo {
    height: var(--header-height);
  }
}
